<app-nav></app-nav>

<div class="relative h-96 bg-cover bg-center mt-8" style="background-image: url('/assets/img/fondo_noticias.jpeg');">
    <div class="absolute inset-0 bg-black bg-opacity-60"></div>
    <h2 class="absolute bottom-4 left-4 text-white text-3xl font-semibold z-10">Nuestras noticias</h2>
</div>

<!-- Sec-noticias -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6 ml-20">

    <!-- Tarjeta 1 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="https://files.alerta.rcnradio.com/alerta_bogota/public/styles/article_desktop/public/2024-03/tren.jpg?mBEes4RuFrl4jNTGnkjyhx87Bm5m3Wsx&h=99a541cf&itok=yVNYF9sW" alt="" />
        <div class="p-6">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tren que conecta a Bogotá, Cundinamarca y Boyacá en corto tiempo</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Marzo 15, 2024</p>
            <a href="https://www.alertabogota.com/noticias/local/cual-es-el-tren-que-conecta-bogota-cundinamarca-y-boyaca-en-corto-tiempo" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Leer más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="https://imagenes.eltiempo.com/files/image_1200_600/uploads/2024/01/04/6596cd4b660a1.jpeg" alt="" />
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Así avanza el megaproyecto del tren que conectará a Boyacá con Bogotá</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Enero 04, 2024</p>
            <a href="https://www.eltiempo.com/colombia/otras-ciudades/asi-avanza-el-megaproyecto-del-tren-entre-boyaca-y-bogota-841569" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Leer más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="https://eldoradoradio.cundinamarca.gov.co/wcm/connect/eldoradoradio/70c5c625-7a47-4a55-bc71-b5656cbc748f/4D67C461-7DCC-4F5C-AFE3-41CFA5DE015D.jpeg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_NPDI1GG021AN606CPIITHG14M2-70c5c625-7a47-4a55-bc71-b5656cbc748f-oHxHv-." alt="" />
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Entra en operación el corredor férreo Facatativá - Bogotá - Belencito y La Caro – Zipaquirá</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Junio 05, 2024</p>
            <a href="https://eldoradoradio.cundinamarca.gov.co/noticias/noticias/entra-en-operacion-el-corredor-ferreo-facatativa-bogota-belencito-y-la-caro-zipaquira" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Leer más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

        <!-- Tarjeta 1 -->
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="https://files.alerta.rcnradio.com/alerta_bogota/public/styles/article_desktop/public/2024-03/tren.jpg?mBEes4RuFrl4jNTGnkjyhx87Bm5m3Wsx&h=99a541cf&itok=yVNYF9sW" alt="" />
        <div class="p-6">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Tren que conecta a Bogotá, Cundinamarca y Boyacá en corto tiempo</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Marzo 15, 2024</p>
            <a href="https://www.alertabogota.com/noticias/local/cual-es-el-tren-que-conecta-bogota-cundinamarca-y-boyaca-en-corto-tiempo" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Leer más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="https://imagenes.eltiempo.com/files/image_1200_600/uploads/2024/01/04/6596cd4b660a1.jpeg" alt="" />
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Así avanza el megaproyecto del tren que conectará a Boyacá con Bogotá</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Enero 04, 2024</p>
            <a href="https://www.eltiempo.com/colombia/otras-ciudades/asi-avanza-el-megaproyecto-del-tren-entre-boyaca-y-bogota-841569" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Leer más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img class="rounded-t-lg" src="https://eldoradoradio.cundinamarca.gov.co/wcm/connect/eldoradoradio/70c5c625-7a47-4a55-bc71-b5656cbc748f/4D67C461-7DCC-4F5C-AFE3-41CFA5DE015D.jpeg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_NPDI1GG021AN606CPIITHG14M2-70c5c625-7a47-4a55-bc71-b5656cbc748f-oHxHv-." alt="" />
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Entra en operación el corredor férreo Facatativá - Bogotá - Belencito y La Caro – Zipaquirá</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Junio 05, 2024</p>
            <a href="https://eldoradoradio.cundinamarca.gov.co/noticias/noticias/entra-en-operacion-el-corredor-ferreo-facatativa-bogota-belencito-y-la-caro-zipaquira" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Leer más
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>